.container {
    height: 70%;
    margin: 0 auto;
    background-color: $color-section-background;
    display: grid;
    gap: $grid-gap;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "5 1 1 1 3 3"
    "6 1 1 1 4 4"
    "7 9 2 2 11 12"
    "8 10 2 2 13 14";
    
    &__element {
        &--1 {
            grid-area: 1;
            background-color: white;            
        } 
    
        &--2 {
            grid-area: 2;
            background-color: white;
        }

        &--3 {
            grid-area: 3;
            background-color: white;
        }

        &--4 {
            grid-area: 4;
            background-color: white;
        }

        &--5 {
            grid-area: 5;
            background-color: white;
        }

        &--6 {
            grid-area: 6;
            background-color: white;
        }

        &--7 {
            grid-area: 7;
            background-color: white;
        }

        &--8 {
            grid-area: 8;
            background-color: white;
        }

        &--9 {
            grid-area: 9;
            background-color: white;
        }

        &--10 {
            grid-area: 10;
            background-color: white;
        }

        &--11 {
            grid-area: 11;
            background-color: white;
        }

        &--12 {
            grid-area: 12;
            background-color: white;
        }

        &--13 {
            grid-area: 13;
            background-color: white;
        }

        &--14 {
            grid-area: 14;
            background-color: white;
        }  
    }

}