.container {
    height: 70%;
    width: 50%;
    margin: 0 auto;
    background-color: $color-section-background;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    grid-template-areas: 
    "five one one one three three"
    "six one one one four four"
    "seven nine two two eleven twelve"
    "eight ten two two thirteen fourteen";
    
    &__element {

        &--1 {
            grid-area: one;
        } 
    
        &--2 {
            grid-area: two;
        }

        &--3 {
            grid-area: three;
        }

        &--4 {
            grid-area: four;
        }

        &--5 {
            grid-area: five;
        }

        &--6 {
            grid-area: six;
        }

        &--7 {
            grid-area: seven;
        }

        &--8 {
            grid-area: eight;
        }

        &--9 {
            grid-area: nine;
        }

        &--10 {
            grid-area: ten;
        }

        &--11 {
            grid-area: eleven;
        }

        &--12 {
            grid-area: twelve;
        }

        &--13 {
            grid-area: thirteen;
        }

        &--14 {
            grid-area: fourteen;
        }
    }
}