.gradient {
    background: $color-linear-basic;
}

.gradient--blue {
    background: $color-linear-blue;
}

.gradient--orange {
    background: $color-linear-orange;
}

.gradient--pink {
   background: $color-linear-pink;
}

.gradient--purple {
    background: $color-linear-purple;
}