.title {
    margin: 0 auto;
    background-color: $color-section-background;
    color: $font-color;
    height: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    

    &__main {
        font-size: 60px;
    }

    &__secondary {
        font-size: 30px;
    }
}