///colors/// 


$color-section-background: rgb(50, 58, 68);
$color-linear-blue: linear-gradient(rgb(75, 224, 235), rgb(130, 130, 248));
$color-linear-basic: linear-gradient(#e66465, #9198e5);
$color-linear-pink: linear-gradient(#eb94d8, #fd50e6);
$color-linear-purple: linear-gradient(#ffcff7, #b17aaa);
$color-linear-orange: linear-gradient(#e66465, #ffe46e);

$font-color: white;
$diamond-color: white;
$font-inside-diamond-color: black;

///grid///

$grid-gap: 15px;


