///colors/// 


$color-section-background: rgb(50, 58, 68);
$color-linear-blue: linear-gradient(rgb(75, 224, 235), rgb(130, 130, 248));
$color-linear-blue: linear-gradient(#e66465, #9198e5);
$color-linear-blue: linear-gradient(#b853a2, #a02f91);
$color-linear-blue: linear-gradient(#7d881e, #f371e2);

$font-color: white;
$diamond-color: white;
$font-inside-diamond-color: black;

///grid///

$grid-gap: 15px;


